<div class="container mt-5">

    <h2 class="text-center mb-5">

        Admin Dashboard

    </h2>

    <div class="row">

        <!-- Orders -->

        <div class="col-md-4 mb-4">

            <div class="card bg-primary text-white p-4 shadow">

                <h4>Total Orders</h4>

                <h2>

                    @ViewBag.TotalOrders

                </h2>

            </div>

        </div>

        <!-- Foods -->

        <div class="col-md-4 mb-4">

            <div class="card bg-success text-white p-4 shadow">

                <h4>Total Foods</h4>

                <h2>

                    @ViewBag.TotalFoods

                </h2>

            </div>

        </div>

        <!-- Categories -->

        <div class="col-md-4 mb-4">

            <div class="card bg-danger text-white p-4 shadow">

                <h4>Total Categories</h4>

                <h2>

                    @ViewBag.TotalCategories

                </h2>

            </div>

        </div>

    </div>

</div>