<div class="container mt-5 text-center">

    <h2 class="text-success">
        Order Placed Successfully
    </h2>

    <p>
        Thank you for ordering 😊
    </p>

    <a asp-controller="Home"
       asp-action="Index"
       class="btn btn-primary">

        Back To Home

    </a>

</div>